[Unit]
Description=TCP Proxy for TKSTAR GPS trackers
ConditionPathIsMountPoint=/opt

[Service]
Type=simple
ExecStart=/usr/local/sbin/tcpproxy -l 0.0.0.0:7700 -r 47.88.85.196:7700 -o /var/log/tcpproxy -p /run/tcpproxy/tcpproxy.pid
PIDFile=/run/tcpproxy/tcpproxy.pid
RuntimeDirectory=tcpproxy
RuntimeDirectoryMode=0755
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
